<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      EduHack - Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <input ion-input type="search" color="light" placeholder="Search course" />
    <ion-label>Courses</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card routerLink="/details" routerDirection="root">
            <ion-item lines="none">
              <ion-label>
                <h2>Software Engineer</h2>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card routerLink="/details" routerDirection="root">
            <ion-item lines="none">
              <ion-label>
                <h2>Zoologist</h2>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
</ion-content>
