<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        EduHack - Personality Test
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content ion-padding>
  <div class="ion-padding">
    <ion-label>Personality Test</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="ion-padding">
            <h3>Question 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, voluptatibus itaque qui iusto deserunt voluptas ad, vitae maiores culpa repellendus omnis optio temporibus. Vitae, qui aspernatur cumque iure reiciendis minus!</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="ion-padding">
            <ion-list class="transparent-item">
              <ion-radio-group>
                <ion-item lines="none" class="transparent-item">
                  <ion-radio value="duesenberg"></ion-radio>
                  <ion-label>Duesenberg</ion-label>
                </ion-item>
            
                <ion-item lines="none" class="transparent-item">
                  <ion-radio value="hudson"></ion-radio>
                  <ion-label>Hudson</ion-label>
                </ion-item>
            
                <ion-item lines="none" class="transparent-item">
                  <ion-radio value="packard"></ion-radio>
                  <ion-label>Packard</ion-label>
                </ion-item>
            
                <ion-item lines="none" class="transparent-item">
                  <ion-radio value="studebaker"></ion-radio>
                  <ion-label>Studebaker</ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion-padding">
        <ion-col class="ion-text-start">
          <ion-button color="dark" type="button"> Previous </ion-button>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-button color="dark" type="button"> Next </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
